<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
 <parameter name="username" value="lathif"></parameter>
 <parameter name="password" value="234567"></parameter>
 <classes>
 <class name="org.parameter.Fh"/>
 <class name="org.parameter.Ad"/>
 </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
